name: Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    strategy:
      matrix:
        platform: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python: ["3.6", "3.7", "3.8", "3.9", "3.10"]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Check out sources
        uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}-dev

      - name: Install dependencies
        run: pip install poetry

      - name: Run tests
        run: |
          poetry install
          poetry run pytest
